.ul_title{
  width: 100%;
  height: 70px;
  padding: 0 14px;
  font-size: 18px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.page_userTitle{
  width: 100%;
  min-height: 70px;
  background: #FFF;
  display: flex;
  flex-direction: row;
}
.page_content{
  width: 100%;
  background: #FFF;
  margin-bottom: 10px;
  padding: 0 14px;
  font-size: 18px;
}
.search{
  width: 100%;
  background: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .value{
    width: 10%;
  }
  .submit{
    margin-right: 40px;
  }
}
.searchBtn{
  text-align:right;
  padding-right: 20px;
}
.searchBtnMore{
  text-align:right;
  padding-right: 20px;
  margin-top: 104px;
}