
.ck_title{
  width: 100%;
  height: 70px;
  padding: 0 14px;
  font-size: 18px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page_search{
  width: 100%;
  background: #FFF;
  margin-bottom: 10px;
  padding: 0 14px;
  font-size: 18px;
}
.page_title{
  width: 100%;
  min-height: 70px;
  margin-bottom: 0px;
  background: #FFF;
  display: flex;
  flex-direction: row;
}
.el-dropdown-link {
  cursor: pointer;
  color: #47ba80;
  font-size: 12px;
}
.el-icon-arrow-down {
  font-size: 12px;
}
