.ck_title{
  width: 100%;
  height: 70px;
  padding: 0 14px;
  font-size: 18px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.box_clock{
  margin-bottom: 10px;
  height: 400px;
  width: 100%;
  // background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  &_items{
    width:48.5%;
    height: 100%;
    padding: 14px;
    background: #FFF;
    display: flex;
    flex-direction: row;
    &_title{
      width: 15%;
      font-size: 18px;
    }
    &_continer{
      width: 85%;
      font-size: 70px;
      color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.box_clock2{
  margin-bottom: 10px;
  height: 700px;
  width: 100%;
  // background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  &_items{
    width:48.5%;
    height: 100%;
    padding: 14px;
    background: #FFF;
    display: flex;
    flex-direction: row;
    &_title{
      width: 15%;
      font-size: 18px;
    }
    &_continer{
      width: 85%;
      font-size: 70px;
      color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}